@charset "ISO-8859-1";


 #register{
            width: 350px;
            margin-left: 600px;
            
        }
        button{
        font-size:medium;
        }
        body{
            background-image: url(../images/Bgimage.jpeg);
            background-repeat: no-repeat;
            background-size:cover;
            color:springgreen;
            font-size:larger;
        }
        #para{
        text-transform:capitalize;
        }