@charset "ISO-8859-1";

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
}

* {
	margin: 0px;
	padding: 0px;
}
#capital{
text-transform:capitalize;
}
@media ( max-width : 600px) {
	.toggle-btn {
		display: flex;
	}
	.navbar-links {
		display: none;
		width: 100%;
	}
	.navitem {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}
	.navbar-links li {
		text-align: center;
	}
	.navbar-links li a {
		padding: .5rem 1rem;
	}
	.navbar-links.active {
		display: flex;
	}
}

#register {
	width: 350px;
	margin-left: 600px;
}

body {
	background-image: url(../images/Rose-flowers-books.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

a {
	text-decoration: none;
	font-size: larger;
	color: white;
}

button {
	font-size: larger;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a {
	color: white;
	float: right;
}
/* Add a black background color to the top navigation */
.topnav {
	background-color: gray;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: gray;
	color: white;
}